<div>
    <h1 id= content > Home </h1>
    <div class="articles">
        <%= link_to 'New Article', new_article_path %>
    </div>
</div>


<div class="articles">
    <% @articles.each do |article| %>
        <div class="article">
            <%= image_tag article.cover, class: "article-cover" if article.cover.attached? %>
            <div class="article-details">
                <h2 class="article-title"> <%= article.title %> </h2>
                <%= link_to "Read Article", article_path(article.id) %>
            </div>
        </div>
    <% end %>
</div>