<div>
    <h1 id= content > Home </h1>
    <%= link_to 'New Article', new_article_path %>
</div>

<body>
    <div id="content">
        <% @articles.each do |article| %>
            <h2> <%= article.title %> </h2>
            <%= image_tag article.cover if article.cover.attached? %>
            <%= link_to "Read Article", article_path(article.id) %>
        <% end %>
    </div>
</body>